@font-face {
    font-family: 'Alienated';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Alienated Regular'), local('Alienated-Regular'), url(Alienated.ttf) format('tif');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  
* {
    margin: 0;
    font-family: 'Alienated', sans-serif;
}

.alien-top {
    background-color: #6df85b;
    padding: 30px;
    text-align: center;
}

body {
    background-image: url("background.jpeg");
}

.alien-card {
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.2),0 1.5px 5px 0 rgba(0,0,0,0.19);
    background-color: #6df85b;
    opacity: .7;
    padding: 30px;
    margin: 10px auto;
    width: 50%;
    text-align: center;
}

.alien-card img {
    width: 100%;
}

@media (max-width: 483px) {
    .alien-card {
        width: auto;
        margin: 10px;
    }
}